<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <h1 class="title">Curbs Hit: <%- statscount.curb %></h1>
    <h1 class="title">Delay: <%- statscount.delay %> minutes</h1>
    <h1 class="title">Stops Skipped: <%- statscount.skips %></h1>
</body>
</html>