@font-face {
    font-family: 'whyte';
    src: url('/fonts/Whyte-Medium.ttf');
}

@font-face {
    font-family: 'righteous';
    src: url('/fonts/Righteous-Regular.ttf');
}

body {
    background-color: #090025;
    color: #fff;
    font-family: whyte;
}

.title {
    font-size: 40px;
    font-family: whyte;
    text-align: center;
}

.stats {
    font-size: 20px;
    font-family: whyte;
    text-align: center;
}

.busses {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.trains {
    display: flex;
    flex-direction: row;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.btn {
    background-color: #fff;
    color: #000;
    border: 1;
    padding: 10px;
    border-radius: .25rem;
    text-decoration: none;
}

.busbtn {
    margin: 2px;
    font-family: whyte;
    min-height: 38px;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    user-select: none;
    color: rgb(242, 244, 251);
    border-radius: 8px;
    transition: background-color 0.15s ease-out 0s, color, opacity, border;
    outline: none;
    text-decoration: none;
    background: rgb(57, 148, 255);
    border-width: initial;
    border-style: none;
    
}
.busbtn:hover {
	background: rgb(0, 118, 255);
    color: rgb(242, 244, 251);
    border: none;
}

.info {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.stats-rows {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
}

.stats-title {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: righteous;
    text-align: center;
}

.bustitle {
    margin-top: 0px;
}